@import "./properties";

.profile {
  display: flex;
  align-content: center;
  font-size: 0.8em;
  margin-bottom: 0.85em;

  .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    min-width: 180px;

    .accountName {
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: auto;
      margin-bottom: auto;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .caption {
      color: $font-color-secondary;
      margin: 0;
      padding: 0;

      &.small {
        font-size: 0.8em;
      }
    }
  }
  a {
    text-align: right;
    width: 0;
  }
}

.profileContainer {
  display: flex;
}
