.sidebar {
  width: 320px;
  padding: 7em 2em 0 2em;
}

.defaultAvatar {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
