html {
  overflow-y: hidden;
}

.SignOutButton {
  display: none;
  position: fixed;
  margin-top: 38px;
}
ul {
  list-style: none;
}

/* Channel CSS */
.profileContainer {
  padding-left: 10px;
}

.message {
  font-size: 12px;
  color: rgb(64, 63, 63);
  margin: 0;
  padding-left: 20px;
  padding-top: 6px;
}

.chatName {
  color: rgb(64, 63, 63);
  font-weight: bold;
  font-size: 13px;
  padding-left: 2px;
  padding-top: 10px;
}

.timePosted {
  font-size: 8px;
  color: #8e8e8e;
  margin: 0;
  padding-left: 20px;
}
.MessageInput {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: 0;
}

.textBox {
  flex: 1;
  position: relative;

  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  border: none;
}

.chatHeader {
  font-size: 20px;
  text-align: center;
  color: rgb(64, 63, 63);
  padding-top: 20px;
}

.chatBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 2%;
  background-color: white;
  max-height: 500px;
  overflow: auto;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  padding: 0.1em 0.9em;
  border: 1px solid black;
  border-radius: 10%;
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  color: black;
  font-weight: 300;
}
.submitButton:hover {
  color: white;
  background-color: black;
}

.chatContainer {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.chatGod {
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin-bottom: 0;
  color: #313030;
}

.loginSpan {
  font-weight: 800;
  color: #313030;
}

.alert {
  font-size: larger;
}
